
/* Variables */

:root {

  --main-bg-color: #FFFFFF;
  --accent-bg-color: #FAFAFA;
  --main-txt-color: #111111;
  --main-color: #5ba8f5;
  --main-color-dark: #498dd1;
  --accent-txt-color: #d2d7df;
  --header-footer-bg-color: #FFFFFF;

}


/* Inputting Fonts */

@font-face {

  font-family: LouisGeorgeCafe;
  src: url("./fonts/Louis George Cafe.ttf");

}

@font-face {

  font-family: LouisGeorgeCafeBold;
  src: url("./fonts/Louis George Cafe Bold.ttf");

}

@font-face {

  font-family: LouisGeorgeCafeLight;
  src: url("./fonts/Louis George Cafe Light.ttf");

}


@font-face {

  font-family: YoungSerif;
  src: url("./Fonts/YoungSerif.otf");

}


/* General CSS */

body {

	font-family: LouisGeorgeCafe;
	color: var(--main-txt-color);
	background-color: var(--main-bg-color);
}


h1, h2, h3 {

	font-family: LouisGeorgeCafeBold;
	line-height: 1.2em;
	letter-spacing: -0.025em;

}

h1 {

	font-size: 4.6rem;
	
}

h2 {

	font-size: 3rem;
}

h3 {

	font-size: 2.5rem;

}

h4 {

	font-size: 2rem;
	line-height: 1.4em;
	font-family: LouisGeorgeCafeBold;
}

h5 {

	font-size: 1.6rem;
	line-height: 1.4em;
}

h6 {

	font-size: 1.2rem;
}

p {

	font-size: 1.2rem;
	position: relative;
}

a {

	color: var(--main-txt-color);
	font-size: 1.2rem;
}


a:hover {

	color: var(--main-color);
	text-decoration: none;
}

::selection {

  background: var(--main-color);
  opacity: 1;
}


.bold {

	font-family: LouisGeorgeCafeBold;
}

.no-opacity {

	opacity: 0;
}

.rotate {

	animation: rotate 1.5s forwards;
	animation-timing-function: cubic-bezier(0, .428, .046, .989);
	animation-delay: 0.75s;
	position: relative;
	display: inline-block;
}

.fade-in {

	animation: fade-in 1.5s;
	
}

.slide-in {

	transform: translateX(-20px);
	animation: slide-in 0.8s ease forwards;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}

.already-visible {
  transform: translateY(0);
  transform: translateX(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

@keyframes slide-in {
  to { transform: translateX(0);}
}

@keyframes fade-in {

	0% {opacity: 0; transform: translateY(50px);}
	100% {opacity:1; transform: translateY(0px);}

}

@keyframes rotate {

	100% {-webkit-transform: rotate(-25deg) translateX(-0.05em) translateY(-0.01em); }

}




/* Home Page */


.container-fluid {


}


.loading-screen {

	background-color: var(--main-color);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	text-align: center;
	padding-top: 25vh;
	color: var(--main-bg-color);

}

.loading-screen h1 {

	font-size: calc(3rem + 8vw);
	
}

.header-container {

	background-color: var(--header-footer-bg-color);

}

.header-container .header {

	padding: 1em 1em;
	position: relative;
	padding-top: 1.5em;

}

.header-container .header h4 {

	display: inline-block;

}

.header-container .header a {

	display: inline-block;
	float: right;
	padding-top: 0.5em;

}

.footer-container {

	background-color: var(--header-footer-bg-color);

}

.footer-container .footer {

	padding: 2em 1em;
	position: relative;

}

.footer-container .footer .social {

	display: inline-block;

}

.footer-container .footer .social a:hover {

	color: var(--main-color);
	text-decoration: none;

}

.footer-container .footer .footer-text {

	float: right;
	display: inline-block;

}

.section-title {

	text-align: center;
	padding-top: 5em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;

}



.section-content a {

	background-color: var(--main-color);
	border-radius: 2em;
	padding: 0.55em 1.4em;
	margin-top: 1.5em;
	display: inline-block;
	color: var(--main-bg-color);
	transition: 0.2s;
}

.section-content a:hover {

	background-color: var(--main-color-dark);
}


.section-content a i {

	font-size: 0.9rem;
	margin-left: 0.4em;
	position: relative;
	
}

.section-content h6 {


	color: var(--main-color);
	
}


.intro-section  {

	padding: 5em 0;

}

.intro-section .section-content {

	padding: 3em 1em;
	text-align: center;
}

.intro-section .section-content h1 {

	white-space: nowrap;
}

.intro-section .section-image {

	text-align: center;
	padding-top: 2em;
	padding-bottom: 4em;
}

.intro-section .section-image img {

	height: 3em;
	margin-left: 2em;
	margin-right: 2em;
}

.featured-section  {

	background-color: var(--accent-bg-color);
	padding: 5em 0;
	overflow: hidden;

}

.featured-section .section-content {

	padding-top: 8em;
	padding-bottom: 3em;
	padding-left: 4em;

}

.featured-section .section-image img {

	width: 150%;
}

.featured-section .img-left {

	position: relative;
	right: 25%;
}

.experience-section {

	padding: 2em;
	text-align: center;
	padding-bottom: 0;

}

.experience-section .section-container {

	background-color: var(--accent-bg-color);
	margin: 0;
	padding: 3em 0;
	
}

.experience-section .section-content {

	padding-top: 4em;

}

.experience-section .section-image img {

	width: 100%;

}

.experience-section .section-content i {

	font-size: 1.6rem;
	position: relative;
	bottom: 0.25em;
	color: var(--accent-txt-color);

}

.skills-section {

	padding: 5em 2em;
	text-align: center;

}

.skills-section .section-content h5 {

	font-family: LouisGeorgeCafeBold;

}

.skills-section .section-content i {

	font-size: 1.6rem;
	padding-bottom: 1em;
	color: var(--main-color);

}


.project-section {

	padding: 1em 2em;
	text-align: center;

}

.project-section .section-content {

	padding: 1em;

}

.project-section .section-content a i {

	bottom: 0.095em;

}

.project-section .section-content .content {

	background-color: var(--accent-bg-color);
	padding-top: 5em;
	padding-bottom: 0;

}


.project-section .section-content img  {

	width: 100%;
	padding-top: 3em;

}


.text-section {

	padding-top: 5em;

}


.text-section .section-content {

	padding-top: 3em;
	text-align: center;

}

.text-section .section-content a i {

	bottom: 0.08em;

}

.text-section .section-content h5 {

	line-height: 1.8em;
	padding-top: 1em;

}

.text-section .section-image {

	padding-top: 3em;

}

.text-section .section-image img {

	width: 60%;

}



@media only screen and (max-width: 992px) {
  

  .intro-section  {

	padding: 2em 1em;

}


  .featured-section  {

	padding: 2em 0;

}

  .featured-section .section-content {

	padding-top: 4em;
	padding-left: 1em;
	text-align: center;

}

  .featured-section .section-image img {

	width: 100%;
}

  .featured-section .img-left {

	position: relative;
	right: 0;
}

.experience-section {

	padding: 1em 0;

}

.experience-section .section-content {

	padding-top: 1em;
	padding-bottom: 3em;

}

.skills-section {

	padding-bottom: 0;


}

.skills-section .section-content {

	padding-bottom: 3em;

}


.project-section {

	padding: 1em 0;
	overflow: hidden;

}

.project-section .section-content {

	padding: 1em 0;

}

.text-section {

	padding-top: 2em;

}

.text-section .section-content h5 {

	width: 100%;

}

}

@media only screen and (max-width: 768px) {
  

h1 {

	font-size: 3.5rem;
}




}


@media only screen and (max-width: 576px) {
  

h1 {

	font-size: 2.8rem;
}

h2 {

	font-size: 2rem;
}

h3 {

	font-size: 2rem;

}

h5 {

	font-size: 1.4rem;
}

.section-content a {

	width: 50%;
}


  .intro-section .section-image {

	display: none;

}

  .featured-section  {

	margin-bottom: 2em;

}

 .featured-section .section-content {

	padding-top: 3em;

}

.text-section .section-image img {

	width: 100%;

}



}




