/* Variables */

:root {

  --main-txt-color: #111111;
  --accent-txt-color: #a7acb8;
  --main-bg-color: #FFFFFF;
  --accent-bg-color: #f2f3f5;
  --main-color: #5ba8f5;
  --main-color-dark: #498dd1;
  --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);


}


/* Inputting Fonts */

@font-face {

  font-family: NexaBold;
  src: url("./fonts/Nexa-Bold.ttf");

}

@font-face {

  font-family: Nexa;
  src: url("./fonts/Nexa-Light.ttf");

}



/* General CSS */


.container-fluid {

  padding: 0;
  height: 100%;

}

body, html {

  font-family: Nexa;
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  height: 100%;

}

h2, h4 { 

  font-family: NexaBold;

 }

h2 {

  font-size: 3rem;
}


h4 {

  font-size: 2rem;
}

h5 {

  font-size: 1.4rem;
  line-height: 1.6em;
}

a {

  font-size: 1.2rem;
}

.rotate {

  animation: rotate 1.5s forwards;
  animation-timing-function: cubic-bezier(0, .428, .046, .989);
  animation-delay: 0.75s;
  position: relative;
  display: inline-block;

}

@keyframes rotate {

  100% {-webkit-transform: rotate(-25deg) translateX(-0.04em) translateY(-0.01em); }

}



/* Home Page */


.header-container .header {

  padding-top: 2em;
  position: fixed;
  z-index: 5;
  color: var(--main-bg-color);


}

.header-container .header a {

  color: var(--main-bg-color);

}

.header-container .header h4 {

  display: inline-block;

}

.header-container .header .feather {

  width: 2rem;
  height: 2rem;
  stroke-width: 2.5;
  stroke: var(--main-bg-color);
  float: right;
  transform: rotate(-90deg);
  position: relative;
  top: 0.2em;

}

.preview-wrapper {

  display: flex;
  overflow-x: scroll;
  vertical-align: top;
  scroll-snap-type: x mandatory;
  height: 100%;

}

.preview-wrapper::-webkit-scrollbar {   

  display: none;

}

.preview-df {

   background: url("./imgs/Preview_DF.jpg");
}

.preview-olb {

   background: url("./imgs/Preview_OLB.jpg");
}

.preview-kps {

   background: url("./imgs/Preview_KPS.jpg");
}

.preview-bu {

   background: url("./imgs/Preview_BU.jpg");
}

.preview-container {

    background-position: center;
    background-size: cover;
    flex: 0 0 106%;
    scroll-snap-align: start;
    position: relative;
    
}

.preview-container:last-child {

    flex: 0 0 100%;
 
}

.preview-overlay {

  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 60%);
  position: absolute;

}

.preview-container .preview .preview-content {

  position: absolute;
  bottom: 5em;
  color: var(--main-bg-color);

}

.preview-container .preview .preview-content h6 {

 font-family: NexaBold;
 padding-bottom: 1em;

}

.preview-container .preview .preview-content h6 .feather {

  width: 1.4em;
  height: 1.4em;
  stroke-width: 3;
  position: relative;
  stroke: var(--main-bg-color);
  bottom: 0.135em;
  padding-right: 0.35em;
  padding-left: 0.1em;

}

.preview-container .preview .preview-content h2 {

  padding-bottom: 0.2em;

}

.preview-container .preview .preview-content h5 {

  padding-bottom: 2em;

}


.preview-container .preview .preview-content a {

  color: var(--main-bg-color);
  font-family: NexaBold;


}

.preview-container .preview .preview-content a:hover {

  color: var(--main-bg-color);
  text-decoration: none;
  transition: 0.2s;

}

.preview-container .preview .preview-content a .feather {

  width: 3em;
  height: 3em;
  stroke-width: 2.5;
  position: relative;
  bottom: 0.09em;
  margin-right: 0.5em;
  stroke: var(--main-txt-color);
  background-color: var(--main-bg-color);
  padding: 0.75em;
  border-radius: 50%;
  transition: 0.2s;

}

.preview-container .preview .preview-content a .feather:hover {

  transform: scale(1.1);

}

.preview-container .info-container {

  padding-left: 5em;
  padding-right: 5em;
  padding-top: 5em;

}

.preview-container .info-container .info {

  padding-bottom: 2em;
  padding-top: 2em;
  border-bottom: 1px solid var(--accent-bg-color);

}

.preview-container .info-container .info:last-child {

  border: none;

}

.preview-container .info-container .info .info-work {

  background: url("./imgs/SpaceX.jpg");

}

.preview-container .info-container .info .info-edu {

  background: url("./imgs/USC.jpg");

}

.preview-container .info-container .info .info-fam {

  background: url("./imgs/Family.jpg");

}

.preview-container .info-container .info .info-image {

  background-color: var(--main-txt-color);
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  height: 18vh;

}

.preview-container .info-container .info .info-content {

  padding-top: 2em;

}

.preview-container .info-container .info .info-content h6 {

  font-family: NexaBold;

}











@media only screen and (max-width: 768px) {


  h2 {

    font-size: 2rem;
  }

  h5, a {

    font-size: 1rem;
  }

  .preview-wrapper {


    padding-bottom: 1em;

  }

  .preview-container {

    margin-top: 5.5em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    border-radius: 0;
    flex: 0 0 90%;
    scroll-snap-align: center;
    border-radius: 5px;

  }

  .preview-container:first-child {

    margin-left: 1em;
 
}

  .preview-container:last-child {

    flex: 0 0 93.5%;
    border-right: 1em solid white;
 
}

  .preview-overlay {
    
    display: none;

  }

  .preview-container .preview {

    position: relative;
    border-radius: 5px;


}

  .preview-container .preview::before {

    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 80%);
    border-radius: 5px;

}

.preview-container .preview .preview-content {

   bottom: 2em;
   padding-left: 1.5em;
   padding-right: 1.5em;


}

.preview-container .preview .preview-content h2 {
    
    padding-bottom: 0em;
}


.preview-container .preview .preview-content h6 {

   display: none;

}

.preview-container .preview .preview-content h5 {

   padding-bottom: 1.5em;

}

.preview-container .preview .preview-content a .feather {

  width: 2em;
  height: 2em;
  padding: 0.45em;
  margin-right: 0.35em;

}


  .header-container .header {

    color: var(--main-txt-color);
    padding-right: 1.5em;
    padding-left: 1.5em;
  
  }

  .header-container .header a {

    color: var(--main-txt-color);

  }

  .header-container .header h4 {

    font-size: 1.5rem;

  }

  .header-container .header .feather {

    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--main-txt-color);

}

  .preview-container .info-container {

   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-top: 0;

}

.preview-container .info-container .info .info-image {

  height: auto;

}

.preview-container .info-container .info .info-content {

  padding-top: 1em;

}






}








